<br>

<div class="container">
  
  <div class="form-control ">
  <h1>PL {{dadosPl?.Materia?.IdentificacaoMateria?.NumeroMateria}}/{{dadosPl?.Materia?.IdentificacaoMateria?.AnoMateria}}</h1>

  <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <div class="form-group mb-3">
              <label  for="inputGroupSelect01">Projeto Lei</label>
              <input type="pl" class="form-control" id="pl" aria-describedby="pl" placeholder="Enter Projeto de Lei">
          </div>
        </div>


        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <div class="form-group mb-3">
                <label for="inputGroupSelect01">Autor</label>
                <input type="autor" class="form-control" id="autor" aria-describedby="autor" placeholder="Enter Autor">
            </div>
          </div>

          
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
              <div class="form-group mb-3">
                  <label for="inputGroupSelect01">Busca por Palavra Chave</label>
                  <input type="palCha" class="form-control" id="palCha" aria-describedby="palCha" placeholder="Digite a Palavra Chave">
              </div>
            </div>
</div>
</div>
</div>