<br>

<div class="container">
  
  <div class="form-control" *ngIf="params.casa === 'senado'" >
  <h1>PL {{dadosPl?.Materia?.IdentificacaoMateria?.NumeroMateria || nulo}}/{{dadosPl?.Materia?.IdentificacaoMateria?.AnoMateria || nulo}}</h1>

  <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h5>Autor</h5>
        <p>{{dadosPl?.Materia?.Autoria?.Autor[0]?.NomeAutor || nulo}} - {{dadosPl?.Materia?.Autoria?.Autor[0]?.IdentificacaoParlamentar?.SiglaPartidoParlamentar || nulo}} / {{dadosPl?.Materia?.Autoria?.Autor[0]?.IdentificacaoParlamentar?.UfParlamentar || nulo}}</p>
        <h5>Ementa</h5>
        <p>{{dadosPl?.Materia?.DadosBasicosMateria?.EmentaMateria || nulo}}</p>
        <h5>Explicação da ementa</h5>
        <p>{{dadosPl?.Materia?.DadosBasicosMateria?.ExplicacaoEmentaMateria || nulo}}</p>
        <h5>Situação atual</h5>
        <h6>Data: </h6><p>{{dadosPl?.Materia?.SituacaoAtual?.Autuacoes?.Autuacao?.Situacao?.DataSituacao | date:'dd/MM/y' || nulo}}</p>
        <h6>Local: </h6><p>{{dadosPl?.Materia?.SituacaoAtual?.Autuacoes?.Autuacao?.Local?.NomeLocal || nulo}}</p>
        <h6>Descrição: </h6><p>{{dadosPl?.Materia?.SituacaoAtual?.Autuacoes?.Autuacao?.Situacao?.DescricaoSituacao || nulo}}</p>
        <h6>Tramitação:</h6>

        <div class="accordion">
            <div class="card" *ngFor="let ts of tramitacaoSenado" >
              <div class="card-header" (click)="ts.IdentificacaoTramitacao.NumeroAutuacao = !ts.IdentificacaoTramitacao.NumeroAutuacao" [attr.aria-expanded]="!ts.IdentificacaoTramitacao.NumeroAutuacao" aria-controls="collapseBasic">
                <h5 class="mb-0">
                    {{ts?.IdentificacaoTramitacao?.TextoTramitacao || nulo}} - {{ts?.IdentificacaoTramitacao?.DataTramitacao | date:'dd/MM/y' || nulo}}
                </h5>
              </div>
          
              <div id="collapseOne" [collapse]="ts.IdentificacaoTramitacao.NumeroAutuacao">
                <div class="card-body">
                  <h5>Data</h5>
                  <p>{{ts?.IdentificacaoTramitacao?.DataTramitacao | date:'dd/MM/y' || nulo}}</p>
                  <h5>Tramitação</h5>
                  <p>{{ts?.IdentificacaoTramitacao?.TextoTramitacao || nulo}}</p>
                  <h5>Situação</h5>
                  <p>{{ts?.IdentificacaoTramitacao?.Situacao?.DescricaoSituacao || nulo}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
</div>
</div>

<div class="form-control" *ngIf="params.casa === 'camara'" >
    <h1>PL {{dadosPl?.numero || nulo}}/{{dadosPl?.ano || nulo}}</h1>
  
    <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <h5>Autor</h5>
          <p>{{autorCamara?.nome || nulo}} - {{autorCamara?.siglaPartido || nulo}} / {{autorCamara?.siglaUf || nulo}}</p>
          <h5>Ementa</h5>
          <p>{{dadosPl?.ementa}}</p>
          <h5>Explicação da ementa</h5>
          <p>{{dadosPl?.ementaDetalhada || nulo}}</p>
          <h5>Situação atual</h5>
          <h6>Data: </h6><p>{{dadosPl?.statusProposicao.dataHora | date:'dd/MM/y' || nulo}}</p>
          <h6>Descrição: </h6><p>{{dadosPl?.statusProposicao.descricaoSituacao || nulo}}</p>
          <h5>Regime de tramitação</h5>
          <p>{{dadosPl?.statusProposicao.regime || nulo}}</p>
          <h5>Tramitação</h5>

          <div class="accordion">
            <div class="card" *ngFor="let tc of tramitacaoCamara" >
              <div class="card-header" (click)="tc.sequencia = !tc.sequencia" [attr.aria-expanded]="!tc.sequencia" aria-controls="collapseBasic">
                <h5 class="mb-0">
                    {{tc?.descricaoTramitacao || nulo}} - {{tc?.dataHora | date:'dd/MM/y' || nulo}}
                </h5>
              </div>
          
              <div id="collapseOne" [collapse]="tc.sequencia">
                <div class="card-body">
                  <h5>Data</h5>
                  <p>{{tc?.dataHora | date:'dd/MM/y' || nulo}}</p>
                  <h5>Tramitação</h5>
                  <p>{{tc?.descricaoTramitacao || nulo}}</p>
                  <h5>Orgão</h5>
                  <p>{{tc?.siglaOrgao || nulo}}</p>
                  <h5>Descrição da situação</h5>
                  <p>{{tc?.descricaoSituacao || nulo}}</p>
                  <h5>Regime da tramitação</h5>
                  <p>{{tc?.regime || nulo}}</p>
                  <h5>Despacho</h5>
                  <p>{{tc?.despacho || nulo}}</p>
                </div>
              </div>
            </div>
          </div>
          <br>
          
          <!-- •Nº e ano na outra Casa: PLS 82/2012
          • Forma de tramitação: tramitação conclusiva (não vai a Plenário)
          • Regime de tramitação: prioridade
          • Tramitação: data, órgão, ação (... vários registros ...) -->
  
          </div>
  </div>
  </div>


</div>