<br>

<div class="container">
  
  <div class="form-control ">

  <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <div class="form-group mb-3">
              <label  for="inputGroupSelect01">Projeto Lei</label>
              <input type="pl" class="form-control" [(NgModel)]="pl.numero"  id="pl" aria-describedby="pl" placeholder="Enter Projeto de Lei">
          </div>
        </div>


        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <div class="form-group mb-3">
                <label for="inputGroupSelect01">Autor</label>
                <input type="autor" class="form-control" [(NgModel)]="pl.autor" id="autor" aria-describedby="autor" placeholder="Enter Autor">
            </div>
          </div>

          
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
              <div class="form-group mb-3">
                  <label for="inputGroupSelect01">Busca por Palavra Chave</label>
                  <input type="palCha" class="form-control" [(NgModel)]="pl.pChave" id="palCha" aria-describedby="palCha" placeholder="Digite a Palavra Chave">
              </div>
            </div>
</div>

<div class="row">
  
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <div class="form-group mb-3">
            <label for="inputGroupSelect01">Casa Inicial</label>
          <select class="custom-select" [(ngModel)]='casaSel' (click)='casa(casaSel)'  id="inputGroupSelect01">
            <option value="" selected>Seleccione...</option>
            <option *ngFor="let casa of casas" [ngValue]="casa">{{casa.name}}</option>
          </select>
        </div>
      </div>
      
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <div class="form-group mb-3">
          <label for="inputGroupSelect01">Situação Atual</label>
        <select class="custom-select" [(ngModel)]='pl.situacaoAtual' id="inputGroupSelect01">
          <option value="" selected>Seleccione...</option>
          <option v*ngFor="let situacaoAtual of situacaoAtuais" [ngValue]="situacaoAtual">{{situacaoAtual.name}}</option>
        </select>
      </div>
    </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <div class="form-group mb-3">
              <label for="inputGroupSelect01">Ano</label>
            <select class="custom-select" [(ngModel)]='pl.ano' class="custom-select"  id="inputGroupSelect01">
              <option value="" selected>Seleccione...</option>
              <option *ngFor="let ano of anos" [ngValue]="ano">{{ano.name}}</option>
            </select>
          </div>
        </div>

</div>
</div>

<br>
<br>
<br>
<!-- <hr><h3>Projetos de Leis</h3><hr> -->

<div class="form-control ">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">

    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a [routerLink]="['112051','senado']" class="card-link">Ver Detalhe</a>
        </div>
      </div>
    </div>

      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a [routerLink]="['15419','camara']" class="card-link">Ver Detalhe</a>
          </div>
        </div>

    </div>
  </div>

</div>


</div>