<!-- Footer -->
<footer class="page-footer font-small blue pt-4 mt-4">
  
  <!-- Footer Links -->
  <div class="container text-center text-md-left">
    
    <!-- Grid row -->
    <div class="row">
      
      <!-- Grid column -->
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        
        <!-- Content -->
        <h5 class="text-uppercase">Aplicação Web Responsivo</h5>
        <p>Por um Brasil mais Transparente.</p>
        
      </div>
      <!-- Grid column -->
      
      <hr class="clearfix w-100 d-md-none pb-3">
      
      <!-- Grid column -->
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        
        <!-- Links -->
        <!-- <h5 class="text-uppercase">Links</h5> -->
        
        <ul class="list-unstyled">
          <li>
            <a href="https://www12.senado.leg.br" target="_blank" data-toggle="tooltip" data-placement="top" title="Acessa sitio do Senado Federal"><img src="../../assets/sf.svg"></a>
          </li>
          <p></p>
          <li>
              <a href="http://www2.camara.leg.br" target="_blank" data-toggle="tooltip" data-placement="top" title="Acessa sitio da Câmara dos Deputados"><img class="confi-img" src="../../assets/cp.svg"></a>
          </li>
        </ul>
        
      </div>
      <!-- Grid column -->
      
      
    </div>
    <!-- Grid row -->
    
  </div>
  <!-- Footer Links -->
  
  <!-- Copyright -->
  <div class="footer-copyright text-left py-3">
    <div class="container">
    <div class="line-text">
    <span class="white-text">© 2018 CyberSaffira | Silva, Franco, Neto e Formento | Versão 0.1 Λ</span>
      <div class="clearfix"></div><a class="text-sub right">Todas as imagens de são marcas registradas dos seus respectivos proprietários.</a>
  </div>
</div>
</div>
  <!-- Copyright -->

</footer>
<!-- Footer -->