.page-footer.font-small.blue.pt-4.mt-4 {
    background-color: #246fc5;
}

.footer-copyright.text-center.py-3 {
    background-color: #0e57ab;
}


.white-text {
    font-weight: 300;
  }
  
  .footer-copyright { 
    color: rgba(255,255,255,0.8);
  }
  
  
  .text-sub {
      color: white;
  }